
<div class="container">
   <div class="registration">

<h4>Storage</h4>
<br>
		<h6>Enter the details of your on-premises storage infrastructure. After adding storage, select the storage type and enter the remaining details.</h6>

<div id="storage"></div>
		<div id="addnew_storage" ,class="btn-tco" >
			<a href="javascript:storage()">Add</a>
		</div>
<div id="newlinktpl2" style="display:none">
	<div>
		<table border=0, class="table1">
			<tr>
				<th class="th"><h7>Storage type</h7></th>
				<th class="th">Disk type</th>
				<th class="th">Capacity</th>
				<th class="th">Backup</th>
				<th class="th">Archive</th>
				<th class="th">IOPS</th>
			</tr>
			<tr>
				<td>
					<%= select_tag 'storage_type[]' , options_for_select(["LocalDisk/SAN","NAS/File Share","Blob"])%>

				<td>
					<%= select_tag 'disk_type[]' , options_for_select(["SSD","HDD"])%>
				</td>
				<td style="padding:20px">
					<br>
					<%= number_field_tag 'capacity[]'%>
					<br>
					<%= select_tag 'capacity_type[]' , options_for_select(["TB","GB"])%>
				</td>
				<td style="padding:10px">
										<br>

					<%= number_field_tag 'backup[]'%>
					<br>
					<%= select_tag 'backup_type[]' , options_for_select(["TB","GB"])%>
				</td>
				<td style="padding:20px">
										<br>

					<%= number_field_tag 'archive[]'%>
					<br>
					<%= select_tag 'archive_type[]' , options_for_select(["TB","GB"])%>
				</td>
				<td>
					<%= number_field_tag 'IOPS[]'%>
				</td>
			</tr>
		</table>
	</div>
</div>

<script type="text/javascript">
	var ct2 = 0;
	function storage()
	{
		ct2++;
		var div1 = document.createElement('div');
		div1.id = ct2;
		// link to delete extended form elements
		var delLink = '<div style="text-align:right;margin-right:65px"><a href="javascript:del_storage('+ ct2 +')">Delete</a></div>';
		div1.innerHTML = document.getElementById('newlinktpl2').innerHTML + delLink;
		document.getElementById('storage').appendChild(div1);
	}
	// function to delete the newly added set of elements
	function del_storage(eleId)
	{
		d = document;
		var ele = d.getElementById(eleId);
		var parentEle = d.getElementById('storage');
		parentEle.removeChild(ele);
	}

	$( document ).ready(function() {
		<% if session[:value].present?%>
			<% a = session[:value]["storage_type"].count if session[:value]["storage_type"].present?%>
			<%if !a.nil?%>
				<% for i in 1...a %>
				  storage();
					var u = <%= i%>;
					var w = '<%= session[:value]["storage_type"][i-1] if session[:value]["storage_type"].present?%>'
					var t = '<%= session[:value]["disk_type"][i-1] if session[:value]["disk_type"].present?%>'
					var r = '<%= session[:value]["capacity"][i-1] if session[:value]["capacity"].present?%>'
					var k = '<%= session[:value]["backup"][i-1] if session[:value]["backup"].present?%>'
					var z = '<%= session[:value]["archive"][i-1] if session[:value]["archive"].present?%>'
					var q = '<%= session[:value]["IOPS"][i-1] if session[:value]["IOPS"].present?%>'
					a = $(`#${u}`);
					a.find("#storage_type_").val(w);
					a.find("#disk_type_").val(t);
					a.find("#capacity_").val(r);
					a.find("#backup_").val(k);
					a.find("#archive_").val(z);
					a.find("#IOPS_").val(q);
				<%end%>
			<%end%>
		<%end%>
	 })

</script>